<body>
    <mat-toolbar>
      <mat-toolbar-row>
        <span> <img class="Logo" src="../../assets/miscellanea_logo.png"></span>
        <span class="span">Miscellanea</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="container">
        <mat-tab-group mat-stretch-tabs color="warn" dynamicHeight>
          <mat-tab label="Good {{time}}!!">
            <div class="container" fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="left"
              fxLayoutGap="30px" fxLayoutGap.xs="0" fxLayoutGap.sm="0" style="margin-top: 2%;">
              <div class="item" fxFlex *ngIf="!(searching | async)">
    
                <form>
                  <mat-form-field>
                    <mat-label>Search</mat-label>
                    <div [formGroup]="myGroup">
                      <input type="text" aria-label="search" matInput
                        [(ngModel)]="searchCriteria" formControlName="search" (keydown.enter)="search()">
                    </div>
                    <button mat-icon-button type="button" matSuffix (click)="search()" matTooltip="Search">
                      <mat-icon>arrow_forward_ios</mat-icon>
                    </button>
                  </mat-form-field>
                </form>
    
              </div>
    
              <div class="item" fxFlex *ngIf="(searching | async)">
                <mat-label style="color: #E84A37 !important; font-weight: bold; font-size: medium;">Searching...
                </mat-label>
                <mat-progress-bar [color]="color" [mode]="mode">
                </mat-progress-bar>
              </div>
            </div>
    
          </mat-tab>
        </mat-tab-group>

        
        <button mat-mini-fab (click)="goToDeals()" matTooltip="Go to Deals" [matTooltipPosition]='tooltipPosition'
          id="deals">
          <mat-icon>chevron_right</mat-icon>
        </button>

        <button mat-mini-fab (click)="addListing()" matTooltip="Add Listing" [matTooltipPosition]='tooltipPosition'
          id="new">
          <mat-icon>add</mat-icon>
        </button>
      </div>

</body>