.container {
    background-color: white;
    margin: 3%;
    font-family: "Source Sans Pro",sans-serif;
  }
  
  .mat-toolbar {
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    margin-bottom: 1.5%;
    color:#E84A37;
    width: 100%;
  }
  
  .span {
    font-family: "Source Sans Pro",sans-serif;
    margin: auto;
    font-weight: bold;
    font-size: x-large;
  }
  
  body {
    background-color: #f5f5f5;
    padding-bottom: 10%;
    font-family: "Source Sans Pro",sans-serif;
  }
  ::ng-deep html {
    background-color: #f5f5f5;
    font-family: "Source Sans Pro",sans-serif;
  }
  ::ng-deep .mat-tab-label .mat-tab-label-content {
    font-family: "Source Sans Pro",sans-serif;
    font-weight: bold;
    font-size:large;
  }
  
  ::ng-deep .mat-label {
    font-family: "Source Sans Pro",sans-serif;
    font-weight: bold;
    font-size: medium;
  }
  
  #new {  
    float: right;
    color:white;
    background-color: #e84a37;
    box-shadow: 20px;
    position: fixed;
    bottom: 14px;
    right: 18px;
    z-index: 999;
  }

  #deals {  
    float: right;
    color:white;
    background-color: #e84a37;
    box-shadow: 20px;
    position: fixed;
    bottom: 60px;
    right: 18px;
    z-index: 999;
  }
  
  
  button:focus {outline:0;}
  
  
  .mat-form-field {
    font-size:larger;
    font-family: "Source Sans Pro",sans-serif;
    width: 100%;
  }
  
  .mat-tab-group {
    padding-bottom: 12%;
  }
  
  .mat-card {
    font-family: "Source Sans Pro",sans-serif;
    color: #425563;
  }
  
  
  @media only screen and (max-width: 600px) {
    .span {
      font-size: medium;
    }
  }
  
  
  
  
  
  
  
  
  