<body>
  <mat-toolbar fxLayout="row" fxLayoutAlign="start center">
    <span> <img class="Logo" src="../../assets/miscellanea_logo.png"></span>
    <span fxFlex></span>
    <button mat-button (click)="goToPost()"><strong>Post Item</strong></button>
    <button mat-button (click)="goToDeals()"><strong>Student Deals</strong></button>
    <button mat-button (click)="login()">
      <strong class="with-icon" matTooltip="Logged in As {{dataService.loggedInAs}}"
        *ngIf="(dataService.loggedIn | async)">
        <mat-icon>how_to_reg</mat-icon> {{dataService.loggedInAs}}
      </strong>
      <strong class="with-icon" *ngIf="!(dataService.loggedIn | async)">
        <mat-icon>person</mat-icon> Account
      </strong>
    </button>
  </mat-toolbar>

  <div class="container">
    <mat-tab-group mat-stretch-tabs color="warn" dynamicHeight>
      <mat-tab label="Good {{time}}!">
        <div class="container" fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="left"
          fxLayoutGap="30px" fxLayoutGap.xs="0" fxLayoutGap.sm="0" style="margin-top: 2%;">
          <div class="item" fxFlex *ngIf="!(searching | async)">

            <form>
              <mat-form-field>
                <mat-label>Search</mat-label>
                <div [formGroup]="myGroup">
                  <input type="text" aria-label="search" matInput [(ngModel)]="searchCriteria" formControlName="search"
                    (keydown.enter)="search()">
                </div>
                <button mat-icon-button type="button" matSuffix (click)="search()" matTooltip="Search">
                  <mat-icon>arrow_forward_ios</mat-icon>
                </button>
                <mat-error *ngIf="hasError('search', 'required')">This field is <strong>mandatory</strong></mat-error>
              </mat-form-field>
            </form>

            <br>
            <h1>Welcome to Miscellanea!</h1>
            <h3>We present the best marketplace built for STUDENTS - by STUDENTS!</h3>
            <h3>Unlike ALL the other marketplaces, Miscellanea gives you the power to buy any products for sale, list
              items to sell, request items you just can't find anywhere else and even get the latest student deals!
            </h3>
            <h3></h3>

            <br>

            <h2>User Instructions: </h2>
            <mat-list>
              <mat-list-item>
                -- Input a value into the search bar to search for listings
              </mat-list-item>
              <mat-list-item>
                -- When in the listings page, use the filters to update results. Toggle between BUY and SELL Request
                Type to search for Buyers and sellers of an item respectively.
              </mat-list-item>
              <mat-list-item>
                -- At any point, if you wish to come back to this page, please click the logo on the top left
              </mat-list-item>
            </mat-list>

          </div>

          <div class="item" fxFlex *ngIf="(searching | async)">
            <mat-label style="color: #E84A37 !important; font-weight: bold; font-size: medium;">Searching...
            </mat-label>
            <mat-progress-bar [color]="color" [mode]="mode">
            </mat-progress-bar>
          </div>
        </div>

      </mat-tab>
    </mat-tab-group>

  </div>

</body>