<body>
    <mat-toolbar>
      <mat-toolbar-row>
        <!-- <div id="toolbarWithLogo" fxLayout fxLayout.xs="column" fxLayoutAlign="center"
          fxLayoutGap="350px" fxLayoutGap.xs="0">
          <div class="item" fxFlex>
              <img src="assets/Hatch_Logo.png">
          </div>
          <div class="item" fxFlex>
              <mat-label style="font-family: Source Sans Pro,sans-serif;"><strong>Estimating Governance Register</strong></mat-label>
          </div>
          </div> -->
        <span class="span">Miscellanea</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="container">
    <button (click)="printshared()"> click me </button>
              </div>
    

</body>