

<mat-card class="mat-elevation-z0">
    <mat-card-header>
        <mat-card-title>
            {{data.buyer.name}} -- ${{data.buyer.price}}
        </mat-card-title>
        <mat-card-subtitle>
            Posted On: {{data.buyer.postDate | date:'mediumDate'}} | {{data.buyer.city}}, {{data.buyer.province}}
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="30px"
            fxLayoutGap.xs="0" style="margin-top: 2%;">
            <div class="item" fxFlex>
                <strong>Buyer: </strong><strong>{{data.buyer.contact.username}}</strong>
                <br>
                <p>
                    {{data.buyer.description}}
                </p>
                <br>
                <p>
                    Condition: {{data.buyer.condition}}
                </p>
                <hr />
                <strong *ngIf="(showContactInfo | async)">Phone Number: {{data.buyer.contact.phoneNum}}</strong>

            </div>
        </div>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button (click)="revealContactInfo()">Reveal Contact Info</button>
        <!-- <button mat-button>SHARE</button> -->
    </mat-card-actions>
</mat-card>